<h1>Home Page</h1>

<h4>Day or night, we’re here for you. Talk to our support team from anywhere in the world, any hour of day.</h4>
<h4>Guests review their hosts after each stay. All hosts must maintain a minimum rating and our hospitality standards to be on Holiday Rentals.</h4>
<h4>From fresh-pressed sheets to tips on where to get the best brunch, our hosts are full of local hospitality.</h4>
<h4>Day or night, we’re here for you. Talk to our support team from anywhere in the world, any hour of day.</h4>
<h4>Guests review their hosts after each stay. All hosts must maintain a minimum rating and our hospitality standards to be on Holiday Rentals.</h4>
<h4>From fresh-pressed sheets to tips on where to get the best brunch, our hosts are full of local hospitality.</h4>

<h2>"Find me in app/views/pages/home.html.erb"</h2>
