<div class="row">
  <div class="col-md-5 banner">
    <h1>Find your ideal accommodation for your next trip...</h1>
  </div>
</div>


  <div class="row">
    <div class="col-md-6">
      <%= text_field_tag :search, params[:search], placeholder: "Where are you going?", class: "form-control", id: "autolocation" %>
    </div>
    <div class="col-md-3">
      <%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control datepicker" %>
    </div>
    <div class="col-md-3">
      <%= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: "form-control datepicker" %>
    </div>
  </div>
  <br/><br/>

  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <%= submit_tag "Search", class: "btn btn-normal btn-block" %>
    </div>
  </div>


<br/><hr/><br/>


  <!-- I want to add a photo from this point -->

  <div class="parallax"></div>

  <!-- <div style="height:1000px;background-color:#ee785a;font-size:30px"> -->
  Discover entire homes and private rooms perfect for any trip. From fresh-pressed sheets to tips on where to get the best brunch, our hosts are full of local hospitality.
  </div>

  <div class="parallax"></div>
