/* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables" */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');
@import url('https://fonts.googleapis.com/css?family=Neuton');

body {
  color: #333333;
  background-color: #F8F8F8;
  // font-family: 'Neuton', serif;
  font-family: 'Playfair Display', serif;
  letter-spacing: .04em;
}

a {
  color: #ee785a;
  // orange
}

.container {
  width: 80%;
}

.text-babu, .icon-babu {
  color: #ee785a;
  // color: #e35d6a;
  // pink
}

/* ------------- avatar images ------------- */
.avatar_small {
  width: 36px;
}

.avatar_medium {
  width: 48px;
}

.avatar_large {
  width: 68px;
}

.avatar_full {
  width: 100%;
}

/* ------------- buttons ------------- */
.btn-block {
  display: block;
  white-space: normal;
  width: 100%;
}

.btn {
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 9px 27px;
}

.btn-small {
  padding: 5px 15px;
  margin-top: 15px;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.btn.btn-default {
  width: 100%;
  border-color: #c4c4c4;
  background: white;
  color: #484848;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px;
}

.btn.btn-normal {
  border: 1px solid #ee785a;
  background-color: #ee785a;
}

.btn.btn-normal:hover {
  outline: none;
  border-color: #ff4300;
  background-color: #ff4300;
}

.btn.btn-form {
  border: 1px solid #00A699;
  background-color: #00A699;
}

.btn.btn-form:active {
  outline: none;
  border-color: #066165;
  background-color: #066165;
}

/* ------------- nav bar ------------- */
.navbar-default {
  background-color: #FFFFFF;
}

.navbar-default .navbar-brand {
  color: #ee785a;
  font-size: 2em;
  font-weight: 500;
}


/* ------------- panels ------------- */
.panel-default .panel-heading {
  color: #ffffff;
  background-color: #ee785a;
  font-family: 'Neuton', serif;
  font-size: 24px;
  font-weight: 400;
}

.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.description {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}
